splunk-connect-for-otlp.tgz
ta/splunk-connect-for-otlp/linux_x86_64/bin/splunk-connect-for-otlp
ta/splunk-connect-for-otlp/windows_x86_64/bin/splunk-connect-for-otlp

# GoLand IDEA
/.idea/
*.iml

# Mac system files
.DS_Store
