name: "Integration Test"

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: integration-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.25.5
jobs:
  integration-test-docker:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ARCH: [ "amd64", "arm64" ]
      fail-fast: false
    env:
      TEST_OUTPUT: ${{ github.job }}-${{ matrix.ARCH }}.out
    steps:
      # Multiarch images require more disk space
      - uses: jlumbroso/free-disk-space@v1.3.1
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'
      # Not all images used in the docker-compose have arm64 support, for those it is necessary to use qemu
      # Here is the list of "services" (see above) that don't support arm64:
      # On profile integration: oracle
      # On profile smartagent: httpd
      - uses: docker/setup-qemu-action@v3
        if: ${{ matrix.ARCH != 'amd64' }}
        with:
          platforms: ${{ matrix.ARCH }}
          image: tonistiigi/binfmt:qemu-v7.0.0
      - name: Run Integration Test With Cover
        run: |
          set -o pipefail
          make integration-test 2>&1 | tee "$TEST_OUTPUT"
          exit_status=${PIPESTATUS[0]}
          echo "Exit status: $exit_status"
          exit "$exit_status"
        env:
          CONTAINER_COVER_DEST: '/etc/otel/collector/coverage'
          SPLUNK_OTEL_COLLECTOR_IMAGE: 'otelcol:latest'
      # The Integration Test output is extremely large so we upload it as an artifact
      - name: Upload Integration Test Output as Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.TEST_OUTPUT }}
          path: ${{ env.TEST_OUTPUT }}
          retention-days: 5
      - name: Upload coverage report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # 5.5.1
        with:
          verbose: true
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
